{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_openai_chat/mobile

    This template renders the block on mobile.

    Example context (json):
    {
        "logging_enabled": boolean, true if logging is enabled in the plugin settings
        "pix_popout": relative url of the popout pix to the root of moodle
        "pix_arrow_right": relative url of the arrow right pix to the root of moodle
        "pix_refresh": relative url of the refresh pix to the root of moodle
    }
}}
{{=<% %>=}}
<div style="padding: 0 0.5em 0.5em 0.5em">
<h3><%#str%> openai_chat, block_openai_chat <%/str%></h3>
<div id="openai_chat_log" role="log"></div>
<div id="control_bar">
    <div class="openai_input_bar" id="input_bar">
        <textarea aria-label="<%#str%>askaquestion, block_openai_chat<%/str%>" rows=1 id="openai_input" placeholder="<%#str%>askaquestion, block_openai_chat<%/str%>" type="text" name="message" core-auto-rows [(ngModel)]="CONTENT_OTHERDATA.message"></textarea>
    </div>
    <ion-button id="chat-send" style="width: 1em; height: 1em; margin: 0;"
        core-site-plugins-call-ws
        name="block_openai_chat_answer"
        component="block_openai_chat" method="answer" samePage="true" showError="false"
        [params]="{contextid: <% contextid %>}"
        (onSuccess)="this.answer($event)"
        (onError)="this.answer($event)"
        [useOtherDataForWS]="['message']"
        ><img style="transform: scale(1.3)" src="<%config.wwwroot%><% pix_arrow_right %>" alt="<%#str%>askaquestion, block_openai_chat<%/str%>" class='openai_input_submit_btn_icon'>
    </ion-button>
    <ion-button class='openai_input_refresh_btn' style="width: 1em; height: 1em; margin: 0;" color="secondary"
        title="<%#str%>new_chat, block_openai_chat <%/str%>" id="refresh">
        <img style="transform: scale(1.3)" src="<%config.wwwroot%><% pix_refresh %>" class='openai_input_refresh_btn_icon' alt="<%#str%>new_chat, block_openai_chat <%/str%>" />
    </ion-button>
</div>
<span style="display: none" id="openai_assistantname"><% assistantname %></span>
</div>
